<div class="page-header">
  <h1>Featured#Show</h1>
</div>

<ul class="list-unstyled list-inline">
  <li class="list-inline-item">
    <%= linkTo(featuredsPath(), {class: "btn btn-info"}) { %>
      Back to all Featureds
    <% } %>
  </li>
  <li class="list-inline-item">
    <%= linkTo(editFeaturedPath({ featured_id: featured.ID }), {class: "btn btn-warning", body: "Edit"}) %>
  </li>
  <li class="list-inline-item">
    <%= linkTo(featuredPath({ featured_id: featured.ID }), {class: "btn btn-danger", "data-method": "DELETE", "data-confirm": "Are you sure?", body: "Destroy"}) %>
  </li>
</ul>

<p>
  <strong>TourID</strong>: <%= featured.TourID %>
</p>
